@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  caret-color: transparent;
}

body {
  background-image: url("../img/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url("../img/bg-header-mobile.png");
  }
}

.centred {
  @apply max-w-6xl mx-auto text-center;
}

.heading-3 {
  @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
}
